
.carousel-image {
  max-height: 400px;
  object-fit: cover;
}
.carousel-control-prev,
.carousel-control-next {
  background: none;
  width: auto;
  height: auto;
  border: none;
}

.room-details {
  flex: 1;
}

.heart-icon {
  color: red;
  font-size: 18px;
}

.gender-image {
  width: 40px;
  height: auto;
}

.price {
  font-size: 16px;
}

.view-btn {
  background-color: #114B5F;
  color: #E4FDE1;
  border: none;
  padding: 6px 16px;
  border-radius: 0px;
  cursor: pointer;
}

.view-btn:hover {
  background-color: #2aa;
}

.gender-icons {
  display: flex;
  align-items: center;
}

.gender-icon {
  width: 40px;
  height: auto;
  margin: 0 5px;
}

.divider {
  width: 1px;
  height: 24px;
  background-color: #ccc;
}


.rating-icon {
  color: #456990;
  font-size: 18px;
}

.text-rating i {
  color: #456990;
  margin-left: 2px;
}

.rating-circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #456990;
  color: #E4FDE1 !important;
}

.testimonial-box {
  max-width: 700px;
  background-color: #fdfaf5; /* light beige */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.user-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
